@charset "utf-8";

.container{
  height: 300px;
  width: 390px;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  
  animation: image-switch-animation 15s infinite;
}

.src1 {
  background-image: url("../images/1.jpg");
}
.src2 {
  background-image: url("../images/2.jpg");
}
.src3 {
  background-image: url("../images/3.jpg");
}

@keyframes image-switch-animation {
	  0%{ opacity: 0;}
  10%{ opacity: 1;}
  25%{ opacity: 1;}
  40%{ opacity: 0;}
  100%{ opacity: 0;}

}

.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 5s;
}
.image:nth-of-type(3) {
  animation-delay: 10s;
}